*
  outline: none !important
  @include box-sizing(border-box)

.primary
  color: $primary
.secondary
  color: $secondary
.success
  color: $success
.info
  color: $info
.warning
  color: $warning
.danger
  color: $danger
.defaut
  color: $default
.error
  color: $danger

.primary-bg
  background: $primary
.secondary-bg
  background: $secondary
.success-bg
  background: $success
.info-bg
  background: $info
.warning-bg
  background: $warning
.danger-bg
  background: $danger
.defaut-bg
  background: $default

.aqua-bg
  background: $aqua
.navy-bg
  background: $navy
.teal-bg
  background: $teal
.olive-bg
  background: $olive
.lime-bg
  background: $lime
.rad-red-bg
  background: $rad-red

.yellow-bg
  background: $yellow
.range-bg
  background: $orange
.fuchsia-bg
  background: $fuchsia
.purple-bg
  background: $purple
.maroon-bg
  background: $maroon
.table-1-bg
  background: #0B9A49
.table-2-bg
  background: #dcdefc
.table-3-bg
  background: #cff1f0
.table-4-bg
  background: #ebdcdc
.table-5-bg
  background: #e9daf6
.relative
  position: relative

.left
  float: left

.right
  float: right

.disabled
  display: none !important  

.black
  color: $black
.wd-100
  width: 100%
  float: left
.u-case
  text-transform: capitalize
.block
  display: block

.in-block
  display: inline-block !important
  width: auto !important  

.text-left
  text-align: left !important
  
.text-right
  text-align: right !important

.text-center
  text-align: center !important

.light-text
  font-weight: 300 !important

.semibold-text
  font-weight: 600 !important

.line-head
  padding-bottom: 10px
  border-bottom: 1px solid #ddd

.border
  border: 1px solid
  border-color: $border

hr
  @extend .wd-100

.no-pad
  padding: 0px !important

.m-0
  margin: 0px
.m-5
  margin: 5px
.m-10
  margin: 10px
.m-15
  margin: 15px
.m-20
  margin: 20px

.mt-0
  margin-top: 0px
.mt-5
  margin-top: 5px
.mt-10
  margin-top: 10px
.mt-15
  margin-top: 15px
.mt-20
  margin-top: 20px
.mt-25
  margin-top: 25px
.mt-30
  margin-top: 30px

.mb-0
  margin-bottom: 0px
.mb-5
  margin-bottom: 5px
.mb-10
  margin-bottom: 10px
.mb-15
  margin-bottom: 15px
.mb-20
  margin-bottom: 20px


// padding
$p-0:                 0px
$p-5:                 5px
$p-10:                10px
$p-15:                15px
$p-20:                20px
$p-25:                25px
$p-30:                30px
$p-35:                35px
$p-40:                40px
$p-45:                45px
$p-50:                50px


$pl-5:                0px 0px 0px 5px
$pl-10:               0px 0px 0px 10px
$pl-15:               0px 0px 0px 15px
$pl-20:               0px 0px 0px 20px
$pl-25:               0px 0px 0px 25px
$pl-30:               0px 0px 0px 30px
$pl-35:               0px 0px 0px 35px
$pl-40:               0px 0px 0px 40px
$pl-45:               0px 0px 0px 45px
$pl-50:               0px 0px 0px 50px

$pr-5:                0px 5px 0px 0px
$pr-10:               0px 10px 0px 0px
$pr-15:               0px 15px 0px 0px
$pr-20:               0px 20px 0px 0px
$pr-25:               0px 25px 0px 0px
$pr-30:               0px 30px 0px 0px
$pr-35:               0px 35px 0px 0px
$pr-40:               0px 40px 0px 0px
$pr-45:               0px 45px 0px 0px
$pr-50:               0px 50px 0px 0px

$pt-5:                5px 0px 0px 0px
$pt-10:               10px 0px 0px 0px
$pt-15:               15px 0px 0px 0px
$pt-20:               20px 0px 0px 0px
$pt-25:               25px 0px 0px 0px
$pt-30:               30px 0px 0px 0px
$pt-35:               35px 0px 0px 0px
$pt-40:               40px 0px 0px 0px
$pt-45:               45px 0px 0px 0px
$pt-50:               50px 0px 0px 0px

$pb-5:                0px 0px 5px 0px
$pb-10:               0px 0px 10px 0px
$pb-15:               0px 0px 15px 0px
$pb-20:               0px 0px 20px 0px
$pb-25:               0px 0px 25px 0px
$pb-30:               0px 0px 30px 0px
$pb-35:               0px 0px 35px 0px
$pb-40:               0px 0px 40px 0px
$pb-45:               0px 0px 45px 0px
$pb-50:               0px 0px 50px 0px

$pv-5:                5px 0px 
$pv-10:               10px 0px
$pv-15:               15px 0px
$pv-20:               20px 0px
$pv-25:               25px 0px
$pv-30:               30px 0px
$pv-35:               35px 0px
$pv-40:               40px 0px
$pv-45:               45px 0px
$pv-50:               50px 0px

$ph-5:                0px 5px
$ph-10:               0px 10px
$ph-15:               0px 15px
$ph-20:               0px 20px
$ph-25:               0px 25px
$ph-30:               0px 30px
$ph-35:               0px 35px
$ph-40:               0px 40px
$ph-45:               0px 45px
$ph-50:               0px 50px

// margin
$m-0:                 0px
$m-5:                 5px
$m-10:                10px
$m-15:                15px
$m-20:                20px
$m-25:                25px
$m-30:                30px
$m-35:                35px
$m-40:                40px
$m-45:                45px
$m-50:                50px

$ml-5:                0px 0px 0px 5px
$ml-10:               0px 0px 0px 10px
$ml-15:               0px 0px 0px 15px
$ml-20:               0px 0px 0px 20px
$ml-25:               0px 0px 0px 25px
$ml-30:               0px 0px 0px 30px
$ml-35:               0px 0px 0px 35px
$ml-40:               0px 0px 0px 40px
$ml-45:               0px 0px 0px 45px
$ml-50:               0px 0px 0px 50px

$mr-5:                0px 5px 0px 0px
$mr-10:               0px 10px 0px 0px
$mr-15:               0px 15px 0px 0px
$mr-20:               0px 20px 0px 0px
$mr-25:               0px 25px 0px 0px
$mr-30:               0px 30px 0px 0px

$mt-5:                5px 0px 0px 0px
$mt-10:               10px 0px 0px 0px
$mt-15:               15px 0px 0px 0px
$mt-20:               20px 0px 0px 0px
$mt-25:               25px 0px 0px 0px
$mt-30:               30px 0px 0px 0px
$mt-35:               0px 0px 0px 35px
$mt-40:               0px 0px 0px 40px
$mt-45:               0px 0px 0px 45px
$mt-50:               0px 0px 0px 50px

$mb-5:                0px 0px 5px 0px
$mb-10:               0px 0px 10px 0px
$mb-15:               0px 0px 15px 0px
$mb-20:               0px 0px 20px 0px
$mb-25:               0px 0px 25px 0px
$mb-30:               0px 0px 30px 0px
$mb-35:               0px 0px 0px 35px
$mb-40:               0px 0px 0px 40px
$mb-45:               0px 0px 0px 45px
$mb-50:               0px 0px 0px 50px

$mv-5:                5px 0px 
$mv-10:               10px 0px
$mv-15:               15px 0px
$mv-20:               20px 0px
$mv-25:               25px 0px
$mv-30:               30px 0px
$mv-35:               0px 35px
$mv-40:               0px 40px
$mv-45:               0px 45px
$mv-50:               0px 50px

$mh-5:                0px 5px
$mh-10:               0px 10px
$mh-15:               0px 15px
$mh-20:               0px 20px
$mh-25:               0px 25px
$mh-30:               0px 30px
$mh-35:               0px 35px
$mh-40:               0px 40px
$mh-45:               0px 45px
$mh-50:               0px 50px